/* Style the forgot password container */
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.forgot-intro p {
    font-size: 12px;

}

/* Style the forgot password form */
.forgot-password-form {
    max-width: 400px;
    /* Set a maximum width for the form */
    background-color: #fff;
    /* Form background color */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* Add a box shadow */
    width: 100%;
    /* Ensure the form takes the full width of its container */
    box-sizing: border-box;
    /* Include padding and border in width calculation */
    overflow: hidden;
    /* Hide horizontal overflow if any */
}

/* Add spacing between form elements */
.form-group {
    margin: 15px 0;
    text-align: left;
    /* Align labels to the left */
}

/* Style form elements */
.form-group label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    /* Add margin below labels */
}


.email-input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    /* Add padding on the left for the email icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    /* Add margin below input fields */
    box-sizing: border-box;
    /* Include padding and border in width calculation */
}

.input-with-icon {
    position: relative;
}

/* Style the email icon */
.icon {
    position: absolute;
    top: 35%;
    left: 10px;
    transform: translateY(-50%);
    color: #333;
    /* Icon color */
    font-size: 18px;
    /* Icon size */
}

/* Style the reset button */
.reset-button button {
    background-color: #0056b3;
    /* Change button color */
    color: #fff;
    border: none;
    padding: 10px 30px;
    /* Wider button */
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    /* Add more margin above the reset button */
    font-weight: bold;
}

.reset-button button:hover {
    background-color: #003b80;
    /* Darker color on hover */
}

/* Style the "Back to Login" link */
.login-link {
    margin-top: 20px;
}

.login-link a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Style the arrow icon */
.arrow-icon {
    margin-left: 5px;
    font-size: 18px;
}