@keyframes dropDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.image-container {
    text-align: center;
    position: relative;
    animation: dropDown 0.9s ease-in-out;
}


.image-container img {
    width: 100%;
    height: 600px;
    filter: brightness(60%);

}

.Wlc-Text {
    position: absolute;
    top: 50%;
    /* Position the text 50% from the top of the container */
    left: 83%;
    /* Position the text 50% from the left of the container */
    transform: translate(-50%, -50%);
    /* Center the text both horizontally and vertically */
    background-color: rgba(0, 0, 0, 0.4);
    /* Add a background color with some opacity */
    padding: 0px;
    /* Add padding for spacing */
    color: #ffffff;
    /* Set text color */
    text-align: center;
    /* Center-align the text within the container */
    max-width: 70%;
    /* Set a maximum width for the text container */
    width: 30%;
}

@media screen and (max-width: 768px) {
    .Wlc-Text {
        width: 80%;
        /* Adjust the width for small screens */
        left: 50%;
        transform: translateX(-50%);
    }

    .Wlc-Text p,
    h2 {
        font-size: 85%;
    }
}

.objectives-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.objective {
    flex: 0 0 calc(33.33% - 20px);
    /* For three columns */
    max-width: calc(33.33% - 20px);
    /* For three columns */
    margin-bottom: 10px;
}

@media (max-width: 850px) {
    .objective {
        flex: 0 0 100%;
        /* For one column on smaller screens */
        max-width: 100%;
        /* For one column on smaller screens */
    }

    .objective p {
        max-width: 100%;
        /* Adjust maximum width for the paragraph */
        margin: 0 auto;
        /* Center the paragraph */
    }
}

.objective h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #003b80;
}

.objective p {
    font-size: 14px;
    color: #555;

}

.program-objectives {
    margin: 50px 100px 100px 100px;

}

.program-objectives .title {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Jacques Francois', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #003b80;
}

.file-icon {
    color: #6C92CA;
    font-size: 20px;
}

/* Courses */
.courses {
    margin: 50px;
}
.courses h5 {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #003b80
}
.course h6 {
    font-size: 20px;
    font-weight: 800;
    color: #003b80;
    margin: 35px;
}
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.card {
    width: 30%; /* Adjust the width to fit three cards in one row */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Add a transparent overlay */
    &::after {
        content: ''; /* Required for pseudo-element */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0); /* Transparent background */
        transition: background 0.3s ease; /* Transition for smooth effect */
        z-index: 2; /* Ensure the overlay is on top of the image and text */
    }

    /* Style for "View Details" text */
    &::before {
        content: 'View Details';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 16px;
        opacity: 0; /* Initially hidden */
        transition: opacity 0.3s ease; /* Transition for smooth effect */
        z-index: 3; /* Ensure the text is on top of the overlay */
    }

    &:hover::after {
        background: rgba(0, 0, 0, 0.5); /* Change overlay color on hover */
    }

    &:hover::before {
        opacity: 1; /* Make the text visible on hover */
    }
}

.card:hover {
    transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.card img {
    width: 250px;
    height: 150px;
    margin-bottom: 10px;
    object-fit: cover;
}



.card p {
    font-size: small;
    padding-bottom: 20px;
    margin: 0;
    color: black;
}
.card h3{
    font-size: medium;
    padding-bottom: 20px;
    margin: 0;
    color: black;
}




@media (max-width: 950px) {
   
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
    }

    .card img {
        width: 100px;
        height: 100px;
    }

}