.courses h6 {
    font-size: 20px;
    font-weight: 800;
    color: #003b80;
    margin-bottom: 35px;
        text-align: center;
        font-size: 24px;
}
.responsivetable
{
    overflow-x: auto;
}

.course-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}


.course-table th, .course-table td {
    border: 1px solid #ddd;
    padding: 5px; /* Adjust padding as needed */
    text-align: center;
}

.course-table th {
    background-color: #235e8f;
    font-size: 14px;
    color: white;
}
.course-table td {
    font-size: 14px;
}
.course-table tbody tr:hover {
    background-color: #f9f9f9;
}
.action-button {
    padding: 5px 10px;
    margin-right: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}
button{
    font-size: 12px;
}
.action-button.view{
    background-color: #227cb9;
}
.action-button.delete{
    background-color: #e03913;
}
.action-button.update{
    background-color: #26a662;
}
.action-button.view:hover{
    background-color: #0f5787;
}
.action-button.delete:hover{
    background-color: #b23215;
}
.action-button.update:hover{
    background-color: #158549;
}


 .create-course-button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            float: right; /* Align to the right */
            margin-top: 20px; /* Add margin from the top */
            margin-right: 150px; /* Add margin from the right */
        }

        .create-course-button:hover {
            background-color: #45a049;
        }
.course-table {
    margin: 10px auto;
    width: 90%; /* Adjust the width as needed */
    max-width: 1000px;
}

.courses{
    margin-top: 100px;
}
@media (max-width: 950px) {

    .create-course-button {
        float: none; /* Remove float */
        width: 30%;
        margin: 10px auto; /* Center the button with margin */
        display: block; /* Display as a block to center */
        margin-right: auto; /* Remove right margin to center horizontally */
        text-align: center;
    }
    .courses{
        margin-top: 20px;
    }
}